<form {{action 'authenticate' on='submit'}}>
  <label for="email">Email</label>
  {{input value=email}}
  <label for="password">Password</label>
  {{input value=password type='password'}}
  <button type="submit">Login</button>
</form>
{{errorMessage}}